*{
    font-family:'Roboto'

}
body{
    background:#000;
    color:white;
}
nav{
    padding: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #nav li {
    float: left;
  
  }
li a{
    display: block;
    color:white;
    text-decoration: none;
    padding: 8px 16px;
}
li a:hover{
    background:#fff;
    color:black;
}
#nav .right-links {
    float:right;
}
section#main{
    width:100%;
    height:100vh;
}

section#main main h1{
    font-size:66px;
    text-align:center;
    vertical-align: middle;



}

section#main main h4{
    text-align: center;
}
section#featured-projects{
    padding:50px;
}
section#featured-projects h1{
    font-size:44px;

}
.projects  {
    align-content: center;
    justify-content: center;

}
.project{

    width: 45%;
    height:370px;
    padding:10px;
    margin-top:10%;


}
.white{
    color:black;
    background-color: #fff;
    float:left;

}

.project h1, p{
    text-align:center;
}
.project p.desc{
    font-size:20px;
}
a#ok, a#what{
    text-align: center;
    text-decoration: none;
    color:black;
    background-color:white;
    width:100px;
    height:50px;
    padding:20px;
    transition:0.3;
}
a#ok:hover, a#what:hover{
    background-color:black !important;
    color:white !important;
    cursor: pointer !important;

}

.black{
    color:white;
    background-color:#111;
    float:right;

}

#bro{
    background-color:#111;
    text-decoration:none;
    color:white;

}

#bro:hover{
    background-color: white;
    color:black;
    padding:20px;
}
hr{
    border-color:#333;
}
#footer h1{
    font-size: 44px;
    text-align:center;
    color: #444;
}
#other ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#footer {
    display:block;
}

#footer h4{
    text-align:center;
    color:#eee;
    font-size:33px;
}
#footer a{
    text-decoration: none;
    color:#aaa;
    text-align:center !important;
    font-size: 44px;
}
