
body{
    background:#ccc;
    color:black;
    font-family:"Titillium Web", sans-serif;
    /* font-weight:100; */
}

.nav{
    background-color:white;
    width:74.5vw;
    padding:40px;
    height:10vh;


}
.center{
    width:78.5vw;
    /* margin-left:0vw; */
    margin: auto;
    align-content: center;
    display:flex;
    flex-direction: column

}
/* #center{
    margin:auto
} */

#nav{
    display:flex;
    float: right;
}
#nav li{
    margin-left:50px;
    list-style-type: none;
    position:relative;
    bottom:65px;
    font-size:15px;
   

}
#nav li a, .visit a{
    text-decoration: none;
    border-bottom:2.5px solid #34c0eb;
    border-bottom-width: 0;
    color:black;
}
#nav li a:hover{

    animation:0.75s Animation forwards;
    color:"#34c0eb";

}
@keyframes Animation {
    0%{
        border-bottom-width: 0;
    }
    50%{

    }
    100%{
        
        border-bottom-width: 1px;
        color:#199a82;
    }
    
        }

#center-text{
    position: absolute;
    top:50%;
    left: 50%;
    color:white;
    font-size:48px;
    text-align: center;
    transform: translate(-50%, -50%);

}

.row{
    display:flex;
    width:80vw;

}

.row .item{
    width:37.5vw;
    margin:5px;
    padding:10px;
    background-color:#fff;
    text-align: center;
}
.row .item img{
    width:37.5vw; 
    filter: contrast(50%);

}
.row .item p{
    font-weight:400;
}
.row .item:first-child{
    float:left;
}
.row .item:nth-child(2){
    float:right;
}

.visit{
    padding:20px;
    width:14rem;
    background-color: white;
    border:black solid 1px;
}
.visit:hover{
    animation: 0.25s buttonanim forwards;

}
@keyframes buttonanim{
  
    100%{
        color:white;
        border: #34c0eb solid 1px;
        background-color: #34c0eb;


    }
}
.follow{
    width:80vw;
    background-color:white;
    height:25vh;
    text-align:center;
    padding-top:10px;   
    font-family: "Titillium Web";
}
.follow .row .i{
    margin:auto;
    text-decoration: none;
    color:black
}
.i:first-child:hover{

    animation: Icon 0.5s forwards;
}
@keyframes Icon{
    100%{
        color:#34c0eb

    }
}
.i:nth-child(2):hover{

    animation: Icon2 0.5s forwards;
}
@keyframes Icon2{
    100%{
        color:#d9a027

    }
}